 :root {
    --black: #2d2d2d;
    --white: #ebe8e6;
    --gold: #d0a670;
    --lblue: #aebab4;
    --dblue: #82918b;
    --red: #f1005d;
} 

html {
  margin:10px auto;
  width:99%;
  height:98%;
}

#heading {
    margin: 0;
    padding: 0;
    height: 300px;
   position: 0; 
    background-color: var(--lblue);
    border-radius: 5px;

}

#heading_text {
    margin: 4em;
    text-align: right;
    display: flex;
    align-items: center;
}

#heading_text a{
    padding-left: 3em;
}


#nav_text {
    color: black;
    font-size: 1.2em;
}
#nav_subtext {
    color: black;
}

  
.nav {
   
    display: flex;
    justify-content: space-evenly;
    padding-top: center;

}



#body_carousel {
    width: 75%;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    
}

.carousel_body h3{
    display: inline-block;
    color: var(--dblue);
    background-color: var(--white);
    padding: .2em .5em;
}

.carousel_body p{
    display: inline-block;
    color: var(--lblue);
    background-color: var(--white);
    padding: .2em .5em;
}

#body {
    height: auto;
    background: linear-gradient(15deg, var(--white) 50%, white 0%);

}

.body_line {
    background-color: var(--white);
    width: 60%
}

.body_card {
    width: 75%;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    
}

#card_header {
    background-color: var(--lblue);
    color: var(--black);
}

#card_body {
    background-color: #ffffff80;
    padding: 3em;
}

.card_button {
    background-color: var(--dblue) !important;
    border: 0em;
}

.card_title {
    color: var(--black);
    font-size: 28px;
}

.card_text{
    color: var(--black);
    font-size: 20px;
}

.body_jumbo {
    width: auto;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

#jumbo_body {
    padding-top: 7em;
    padding-bottom: 7em;
    padding-left:4em;
    padding-right:4em;
    background-color: #FFFFFF;
}

.jumbo_title{
    color: var(--black);
    font-size: 50px;
    padding-bottom: 10px;
}

.jumbo_text{
    color: var(--black);
    font-size: 18px;
    text-indent: 1em;
}

.jumbo_button {
    background-color: var(--gold) !important;
    border: 0em;
    margin-left: 1em;
    margin-top: 1em;
}

footer {
    text-align: center;
    color: var(--black);
    bottom: 0;
    border: 0em;
}

.contact {
    position: fixed;
    background-color: var(--lblue) !important;
    border: 0em;
    right: 4em;
    bottom: 0;
}

.confirmation {
    position: fixed;
    border: 0em;
    right: 4em;
    top: 1em;
}

.send {
    background-color: var(--dblue) !important;
    border: 0em;
}


/* styles for large screens */
@media screen and (min-width: 768px) {
 
    .nav, .img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  /* styles for small screens */
  @media screen and (max-width: 767px) {
    .nav, .img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  