
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.logo-container {
  text-align: left;
	position: relative;
	width: 100%;
	margin-top: 0px;
}

.navbar {
	position: relative;
	margin-top: -37px;
	margin-left: 200px;
	width: 85%;
}

.navbar li a{
  display: block;
  padding: 8px;
  color: #ebe8e6;
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 4rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.row{
	position: relative;
}


